/* ==================
  RESET
================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================
  VARS
================== */
:root {
  --clr-primary: #fff;
  --clr-secondary: #191970;

  --gutter: 20px;
  --m-sm: 20px;

  --fs-lg: 3rem;
  --fs-md: 2rem;
  --fs-sm: 1.25rem;
}

/* ==================
  TYPO
================== */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-lg);
  color: var(--clr-primary);
}

/* ==================
  GLOBALS
================== */
body {
  background-color: var(--clr-secondary);
}

/* ==================
  LAYOUT
================== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
}

.numbers-wrapper {
  display: flex;
  gap: var(--gutter);
  margin: var(--m-sm) 0;
}

/* ==================
  COMPONENTS
================== */
.instructions {
  margin-bottom: var(--m-sm);
  text-align: center;
  font-size: var(--fs-md);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.timer {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.number {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.user-input {
  display: none;
  align-items: center;
  gap: var(--gutter);
  margin-top: var(--m-sm);
}

.user-input input {
  width: 300px;
  padding: 5px;
  font-size: var(--fs-lg);
  text-align: center;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.user-input button,
.btn-restart {
  font-size: var(--fs-sm);
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.4s, transform 0.4s;
}

.user-input button {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
}

.btn-restart {
  display: none;
  margin-top: var(--m-sm);
  padding: 8px 20px;
  border-radius: 20px;
}

.user-input button:hover,
.btn-restart:hover {
  box-shadow: 0px 8px 8px -2px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
